[Desktop Entry]
Type=Application
Name=Seo SuMinRPC
Comment=Set a custom Discord Rich Presence status
Exec=seosuminrpc
Icon=applications-internet
Terminal=false
Categories=Utility;Network;
